body{
    background-color: #4F6D7A;
    margin-left: 18px;
}

h1{
    color: #482C3D;
    line-height: 1em;
    font-size: 4em;
    font-family: 'Mate SC', serif;   
    text-align: center;
}

.menu{
    background-color: #482C3D;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    color: #D3D5D4;
    font-size: 19px;
}

.nome{
    color: #4F6D7A;
    background-color: #D3D5D4;
    border-radius: 5px;
    padding-left: 13px;
    width: 165px;
    margin-top: 1em;
    font-style: bolder;
    font-family: 'Crete Round', serifa;
}

#trybe{
    color: #A2C5AC; 
    text-decoration: none; 
}

img{
    margin-top: 3em;
}

.sub-titulo{
    background-color: #D3D5D4;
    color: #482C3D;
    width: 50%;
    padding-left: 10px;
}

p{
    color: #D3D5D4;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;

}

li{
    color: #D3D5D4;
}




div {
    display: inline-block;
    vertical-align: top;
    margin-left: 14px;
    margin-top: 25px;
}